* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root,
body,
html {
  background-color: #f5f5f5;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}
